h2{
    color: red;
}

.highlight{

    text-align: center;

}

.highlight_pic{
    width: 35px;
    height: 35px;

    margin: 0 auto;
}

#highlight_area{
    display: grid;
    grid-template-columns: 45px 45px 1fr;
}

#top{
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    border-bottom: solid gray 0.1px;
    margin-bottom: 20px;
    height: 30px;
}

#top_img{
    width:100px;
    height:30px;
    margin : auto;
}

#top img{
    width:100%;
    height:100%;
    object-fit: cover;

}

i{
    color: gray;
}

#top i{
    font-size: 14px;
}

#top div{
    text-align: center;
    padding-top: 1px;
}

#top_input{
    height: 60%;
    width: 95%;

    margin: auto;
    text-align: center;
    height: 25px;
    background-color: rgb(250,250,250);
    border: solid gray 1px;
    border-radius: 1px;
    font-size: 10px;
    font-weight: 100;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
.profile_pic{
    width: 50px;
    height: 50px;
}

#profile_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50px;
}

#id{
    font-size: 18px;
    font-weight: 100;
}

button{
    height: 80%;
    width: 95;

    font-size: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

.circle_pic{
    border: solid white 1px;
    border-radius: 50%;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumnail_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumnail{
    width : 100%;
}

#stat_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.stat{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#sub_icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 15px;
    height: 30px;
    margin-top: 10px;
}

.selected{
    border-bottom: solid gray 3px;
}

